@import "bootstrap";
*{
  margin: 0;
  padding: 0;

}
a {
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, .7);
}
a:hover {
  color: rgba(255,255,255,.7);
  text-decoration: none;
}

h1 {
  text-align: center;
  color: rgba(255,255,255,.9);
  text-shadow: 0 3px 2px rgba(0,0,0,.7);
  font-family: 'Ultra', serif;
}
h2 {
  text-align: center;
  color: white;
  font-family: 'Ultra', serif;
}
header {
  background: url('/whiskeydb.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50vh;
}
body {
  overflow-x: hidden;
  background: rgba(0, 0, 0, .1);
}

.container-fluid {
  margin-bottom: 20px;
}
.row {
  height: auto;
}
.pop {
  position: absolute;
  z-index: 1;
  top:30vh;
  width: 40%;
  height: 30%;
  left: 30%;
  background:rgb(34, 17, 6);
  color: rgba(255,255,255,.7);
  text-shadow: 0 3px 2px rgba(0,0,0,.7);
  transition: all ease .5s;
}

.pop:hover {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.top {
  height: 50vh;
  box-sizing: content-box;
}
 p {
  text-align: left;
}
.newP {
  color: rgba(0,0,0,.7);
  width: 100%;
  }
.titleRow{
  height: 25vh;
  background: rgba(20, 0, 20, 0.9);
  margin-bottom: 20px;

}
.site {
  font-size: 75px;
  margin-top: 10px;
}

.secName{
  position: relative;
  background: url('/whiskey-barrels-wallpaper.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: content-box;
  width: 100%;

}

.title {
  position: relative;
  margin:2%;
  width: 100%;
  font-size:8em;
  text-shadow: -25px -50px 2px rgba(0, 0, 0,.6),0px -3px black;

}

.midtext{
  position: relative;
  width: 60%;
  margin: 0 auto;
  margin-top: 125px;
  box-sizing: content-box;
}
q {
  font-size: 20px;

}
.col-lg-3, .col-sm-12, .col-lg-12{
  padding: 0;
}
.author {
  margin-top: 10px;
  text-align: right;

}
.highlight {
  padding: 10px;
  width:95%;
  height: 600px;;
  color: rgb(0,0,0);
  font-size: 17px;
  transition: all ease 1s;
  margin: 0 auto;
  text-align: center;
  overflow: scroll;
}
.highlight:hover {
  border-bottom: rgba(0, 0, 0, 0.5) 3px solid;
}
.highlight h5 {
  text-align: left;
  color: rgba(0, 0, 0, 0.8);

}
.highlight p {
  color: rgba(0,0,0,.6);
}

.item {
  transition: all ease .5s;
  box-sizing: border-box;
  height: auto;
  position: relative;
}

.item img {
  width: 100%;
  height: 40%;
  margin-bottom:30px;
  transition: all ease .5s;
}
.item img:hover {
  width: 101%;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}
.item button {
  position: absolute;
  left:5px;
  top:5%;
  width: 75px;
  height: 50px;
  border-radius: 0% 50% 50% 0%;
  outline: none;
  padding: 2px;
  box-sizing: content-box;
  transition: all ease .5s;
}
.item button:hover{
  width: 80px;
  height: 55px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
  left:20px;

}

.info p {
  font-size: 2vh;
}


@media only screen and (max-width: 1040px) {
    .title {
        font-size:4em;
        margin-top:15%;
    }
    .pop {
      width: 60%;
      height: 20%;
      left: 20%;
      top: 35vh;
    }
    .midtext {
      margin-top: 100px;
      width: 75%;

    }
    .site{
      margin-top: 75px;
    }

}

@media only screen and (max-width: 414px) {
    .title {
        font-size:3em;
    }
    .pop {
    width: 80%;
    left: 10%;
    }
    q{
      font-size: .95em;
    }
  .midtext {
    margin-top: 30px;
    font-size: .9em
  }
  .site{
    font-size:40px;
  }
}

@media only screen and (max-width: 360px) {
    q {
    font-size: .8em;
    }
  .midtext {
    font-size: .8em;
  }
  .site{
    font-size:25px;
  }
}
