<div class="productContainer">
<%= render 'layouts/nav' %>
<%if current_user && admin?%>
<div class="newPro">
<h2>New Product</h2>
<%= render 'form', product: @product %>
</div>
<%else%>
<p>User not autherized</p>
<%end%>
</div>
